{% extends 'baseadmin.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h3>Liste des livres:</h3>
        <ul class="list-group list-group-flush">
            {% for book in books %}
                <li class="list-group-item">
                    "{{ book.title }}"  prix: {{ book.price }}€
                    <a href="{{ path('admineditbook', {'id' : book.id })}}">Modifier ce livre</a>
                    <a href="{{ path('adminremovebook', {'id' : book.id })}}">Supprimer ce livre</a>
                </li>
            {% endfor %}

        </ul>
    </br>
</div>

{% endblock %}
