{% extends 'baseadmin.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Modifier un auteur:</h2>

        {{ form_start(authorform) }}

        {{ form_widget(authorform) }}


        <button type="submit" class="btn btn-success">Enregistrer</button>

        {{ form_end(authorform) }}
    </div>
{% endblock %}
